.dialog-title {
  color: #00133F;
}

.mat-dialog-title {
  border-bottom: 2px solid #839DC3
}

.date-label {
  color: #3E5F8D;
  font-weight: 500;
}

.name-label{
  color: #3E5F8D;
  font-weight: 500;
  padding-bottom: 20px;
}

.mat-datepicker-toggle {
  color: #213555;
}

.cancel-button{
  margin-top: 390px;
  margin-right: 20px;
  background-color: #F55A30;
  color: #FFFFFF;
  text-align: center;
  justify-content: center;
  display: flex;
  padding-left: 80px;
  padding-right: 80px;
}
